@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1150px;
    margin: 0 auto;
}
/* header-start */
.logo{
    font-size: 24px;
    color: #3A3A3A;
    font-weight: 700;
}
h1{
    font-size: 52px;
    color: #3A3A3A;
    margin-bottom: 0;
}
p{
    font-size: 16px;
    color: #3A3A3A;
}
.header-area{
    display: flex;
    justify-content: space-between;
}
.button{
    background-color: #E02C6D;
    width: 150px;
    border-radius: 20px;
    text-align:center;
    padding: 10px 20px;
    transition: 1.5s;
}
.button:hover{
    font-size: 18px;
    background-color:tomato;

}
a, .fa-arrow-right{
    text-decoration: none;
    color:white;
}
/*** -------header-end ----------****/

/*****----- popular collection start -----******/
.title-popular-collection{
    font-size: 28px;
    color: #3A3A3A;
    text-align: center;
    margin-bottom: 35px;
}
.polular-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.popular-collection-details{
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.popular-collection-image{
    text-align: center;
    margin-top: 35px;
}
.popular-collection-info{
    margin: 35px;
}
.star-icons{
    display: flex;
}
.fa-star{
    font-size: 14px;
    color: orange;
}
.icons{
    margin-right: 10px;
}
/*****----- popular collection end -----******/
.link{
    text-align: right;
}
.link a, .pink{
    text-decoration: none;
    color: #E02C6D;
}
.extra-part-work{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 35px;
background-color:skyblue;
} 
.extra-works{
    margin: 35px;
}
input, .btn-1{
    padding: 8px;
    border-radius: 10px;
}
.btn-1{
    padding: 10px 20px;
    background-color:#E02C6D;
    font-size: 16px;
    color: white;
}
/* ------footer-------- */
footer {
    background-color: #0A0826;
    text-align: center;
    color: white;
    padding: 20px;
}
footer p{
    color: white;
}

footer h4, p{
    margin: 0;
}
.icon {
    padding: 5px;
}
/*------ footer-end-------- */
/* @media Queries */
/* RESPONSIVE FOR MOBILE DEVICE */
@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .logo {
        text-align:center;
    }
    .header-area{
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .button{
        display: inline-block;
    }
    .polular-collection{
        grid-template-columns: repeat(1, 1fr);
    }
    .extra-part-work{
        grid-template-columns: repeat(1, 1fr);
    }
}
/* RESPONSIVE FOR MOBILE DEVICE END*/


/* RESPONSIVE FOR TABLET DEVICE START */
@media only screen and (min-width: 688px) and (max-width: 992px){
    .container{
        width: 100%;
    }
    .polular-collection{
        grid-template-columns: repeat(2, 1fr); 
        margin-right: 56px; 
    }
    .link{
        margin-right: 56px; 
    }
    .extra-part-work{
        grid-template-columns: repeat(2, 1fr);
        margin-right: 56px; 
    }
}
/* RESPONSIVE FOR TABLET DEVICE END */